%section.has-text-white.has-text-centered#dashboard
  %h2.subtitle.has-text-white= t '.recently_heard'
  .columns.is-multiline.is-mobile
    = render @recent_albums

  %hr

  %h2.subtitle.has-text-white= t '.recommended'
  .columns.is-multiline.is-mobile
    = render @recommended_albums
