%section.section.has-text-white
  .columns.has-text-centered
    .column.is-half-mobile.is-offset-one-quarter-mobile.is-2-desktop.is-offset-5-desktop
      = image_tag url_for(@artist.photo)

      %p.is-size-6.has-text-weight-semibold
        = @artist.name

  %br

  %h2.is-size-5.has-text-weight-bold
    = tm :album

  %br

  .columns.is-mobile.is-multiline.has-text-centered
    = render @artist.albums
