nav {
  div.menu-button {
    margin-top: 10px;

    a.button {
      margin-right: 10px;
    }
  }

  .logo{
    margin-left: 10px;
    margin-top: 10px;

    img {
      height: 58px;
    }
  }
}
