- if user_signed_in?
  %nav.columns.is-mobile.navbar.is-fixed-bottom.toolbar.is-dark
    .column.has-text-centered
      = link_to authenticated_root_path, class: "has-text-white" do
        %i.fa.fa-home.fa-lg

    .column.has-text-centered
      = link_to new_search_path, class: "has-text-white" do
        %i.fa.fa-search.fa-lg

    .column.has-text-centered
      = link_to favorites_path, class: "has-text-white" do
        %i.fas.fa-heart.fa-lg
