%section.hero.is-dark.is-fullheight
  .hero-body.has-text-centered
    .container
      %h1.title.has-text-weight-light
        = t '.your_app_for'
        %br
        %span.has-text-primary
          = t '.musics'

      %br

      %h2.subtitle.has-text-weight-light.white
        = t('.subtitles').join('<br>').html_safe

      %br
      %br

      = link_to t('.register_now'), new_user_registration_path, class: "button is-medium is-outlined is-primary"
