%section.hero.is-dark.is-fullheight
  .hero-body.has-text-centered
    .container
      %h1.title.has-text-weight-light
        SEU APP DE
        %br
        %span.has-text-primary MÚSICA

      %br

      %h2.subtitle.has-text-weight-light.white
        Álbuns • Lançamentos
        %br
        Mais tocadas • Recomendadas

      %br
      %br

      = link_to "CADASTRAR AGORA", new_user_registration_path, class: "button is-medium is-outlined is-primary"
