.column.is-full.has-text-left.song-item
  .columns.is-vcentered.is-mobile
    .column.is-narrow
      = play_button song

    .column
      %h2.is-size-5= song.title
      %p= song.album.artist.name

    .column.is-narrow
      = favorite_button song
