.column.is-half-mobile.is-one-quarter-desktop
  = link_to album, class: "has-text-white" do
    = image_tag url_for(album.cover)

    %p.is-size-6.has-text-weight-semibold= album.title

    %p.is-size-7= album.artist.name
