@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./**/*";

html {
  background-color: $dark;
}

.hero.is-fullheight {
  min-height: 100vh;
}

main#main {
  margin: 80px 0 52px;
  padding: 1.5rem;
}

// ==========
// Dashboard
// ==========

#dashboard {
  h2 {
    margin: 48px 0;
  }

  .albums {
    margin-bottom: 48px
  }
}

// ==========
// Songs
// ==========

.song-item {
  border-top: 1px solid $white;

  .play-button {
    margin-top: 12px;
  }

  &:first-child {
    border-top: none;
  }

  &:playing {
    color: $primary;
  }
}
