@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./**/*";

html {
  background-color: $dark;
}

.hero.is-fullheight {
  min-height: 100vh;
}

#dashboard {
  h2 {
    margin: 48px 0;
  }

  .albums {
    margin-bottom: 48px
  }
}
